

<div class="relative w-full flex gap-3 mt-16">
  <div class="xl:w-[25%] w-[30%] xl:min-w-[25%] min-w-[30%]">
    <div class="relative bg-white rounded-[20px] pt-6 ">
      <div class="px-6 ">
        <div class="relative w-full ">
          <img *ngIf="data?.photos && data?.photos.length > 0; else noImage" [src]="environment?.Upload?.apiUrl + data?.photos[0]?.file?.url" class="w-full aspect-square rounded-[8px] object-cover"  alt="">
          <ng-template #noImage>
            <div class="relative w-full aspect-square rounded-[8px] bg-gray-200 animate-pulse">

            </div>
          </ng-template>

          <div class="mt-5 pb-8">
            <h3 class="text-[14px] font-play-bold text-gray-600">{{data?.title}}</h3>
            <p class="text-[14px] font-play-regular text-gray-400">Price: {{data?.price}} MAD</p>
            <div *ngIf="size.length > 0" class="flex flex-wrap gap-2">
              <span class="font-play-bold text-gray-600 text-[14px]">Size: </span> <span class="font-play-regular text-[14px] uppercase text-gray-500" *ngFor="let sz of size">{{sz}}</span>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full relative bg-white rounded-[20px] pt-6 grow overflow-y-auto flex flex-col " style="height: calc(100vh - 194px);">

    <!-- <div class="w-full relative px-6 my-6"><hr></div> -->
    <div class="flex justify-between items-center px-6 ">
      <!-- <h3 class="font-nunito-bold text-[20px] text-gray-500">Variants</h3> -->
      <a routerLink="/admin/products" class="flex items-center gap-1 px-0 text-[22px] text-blue-950/80 font-nunito-semiBold outline-none">
        <svg class="w-7" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path clip-rule="evenodd" fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z"></path>
        </svg>
        <span>Variants</span>
        <!-- <svg fill="none" class="w-5" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"></path></svg> -->
      </a>
      <div class="flex gap-2">
        <button (click)="ToogleQuantite()" class="px-[16px] h-[32px] text-[12px] font-play-regular rounded-[0.5rem] flex items-center gap-2  bg-[#3742f4] text-white ">
          <!-- <svg class="w-4" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z"></path>
          </svg> -->
          <span class="whitespace-nowrap">Create Variant</span>
        </button>
      </div>
    </div>
    <div >
    <div class="grow overflow-y-auto scrollbar_ relative flex flex-col mt-4" *ngIf="!loading">
      <ng-container *ngIf="quTailles.length > 0;">
          <table class="w-full table-auto rounded-t-md ">
            <thead>
                <tr class="rounded-md  uppercase text-sm leading-normal border-b border-t border-gray-200" >
                    <th class="p-3 text-left text-gray-400 font-play-regular lowercase text-sm first-letter:uppercase ">Quantite</th>
                    <th class="p-3 text-left text-gray-400 font-play-regular lowercase text-sm first-letter:uppercase ">couleur</th>
                    <th class="p-3 text-left text-gray-400 font-play-regular lowercase text-sm first-letter:uppercase ">Taille</th>
                    <th class="p-3 text-left text-gray-400 font-play-regular lowercase text-sm first-letter:uppercase ">Entrepot</th>
                    <th class="p-3 text-left text-gray-400 font-play-regular lowercase text-sm first-letter:uppercase "></th>
                </tr>
            </thead>
            <tbody class="text-gray-600 text-sm font-light">
                <tr *ngFor="let item of quTailles;let i = index" class="border-t border-b border-indigo-50">
                  <td class="p-3 ">
                      <p class="text-[14px] font-play-regular text-left text-gray-500">{{ item?.quantite }}</p>
                  </td>
                  <td class="p-3 ">
                      <div class="flex items-center gap-2">
                        <!-- {{ item?.color}} -->
                        <label *ngIf="item?.color_type == 'color'; else IMG"  class="h-6 w-6 inline-flex rounded-md  border-2 " [ngStyle]="{background: item?.color}">
                        </label>
                        <ng-template #IMG>
                          <img [src]="environment?.Upload?.apiUrl + item?.file?.url" class="h-6 w-6 inline-flex rounded-md object-cover border-2 " alt="">
                        </ng-template>
                        <p class="text-[12px] font-play-regular text-left text-blue-950">{{item?.color_name}}</p>



                      </div>
                  </td>
                  <td class="p-3 ">
                      <p class="text-[14px] font-play-regular text-left text-gray-500">{{ item?.taille?.name}}</p>
                  </td>
                  <td class="p-3 ">
                      <p class="text-[14px] font-play-regular text-left text-gray-500">{{ item?.stock?.name}}</p>
                  </td>

                  <td class="p-3 text-left flex justify-end">
                    <ul class="relative flex items-center gap-3  rounded-medium  z-50">
                      <li>
                        <button (click)="editProduct(item, i)" class="flex p-1 text-gray-500">
                          <svg class="w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
                        </button>
                      </li>
                      <div (click)="duplicate(item)" class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                        <svg class="w-[16px]" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 0 1-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 0 1 1.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 0 0-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 0 1-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H9.75"></path>
                        </svg>
                      </div>
                      <li>
                        <button (click)="deleteProduct(item.id)" class="flex p-1 text-gray-500 " >
                          <svg class="w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
                        </button>
                      </li>
                  </ul>
                  </td>
                </tr>
            </tbody>
        </table>
      </ng-container>
    </div>
    <!-- no result -->
    <!-- <ng-container *ngIf="!loading && !quTailles;">
      <div class="w-full flex justify-center items-center grow pr-1" style="height: calc(100vh - 260px) ;">
        <div class="p-6 flex flex-col items-center">
          <img src="assets/images/svg/fill-forms.svg" class="w-[400px] " alt="">
          <button (click)="ToogleQuantite()" class="text-white bg-indigo-500 mt-10 rounded-lg px-6 py-2">Ajouter</button>
        </div>
        </div>
    </ng-container> -->

    <!-- <ng-container>
      <div class="fixed bottom-10 right-10">
        <button (click)="ToogleQuantite()" class="text-white bg-indigo-500 w-[40px] aspect-square rounded-full grid place-content-center">
          <svg class="w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"></path>
          </svg>
        </button>
      </div>
    </ng-container> -->

    <!-- loading  -->
    <ng-container *ngIf="loading">
      <div class="w-full  flex justify-center items-center grow  pr-1 " >
        loading ...
        <!-- <app-content-loading></app-content-loading> -->
      </div>
    </ng-container>
    </div>
  </div>
</div>


<div *ngIf="activeFormquTaille" class="fixed top-0 w-full h-screen z-[999999] left-0 bg-black/40 flex justify-end items-center">
    <div class="w-[70%] max-w-[700px]">
      <app-productqutaille-form [qutaille]="editquTaille_" [productId]="productID" (closeForm)="ToogleQuantite()" [eventype]="eventType" (updatedqutaille)="updatedquTaille($event)" (addedqutaille)="addedquTaille($event)"></app-productqutaille-form>
    </div>
</div>
