<div class="relative w-full mt-10">
  <header class="flex justify-between items-center">
    <h1 class="text-[22px] font-play-bold">Pages content</h1>
    <div class="flex gap-1 ">
      <app-button-secondary [btn_name]="'Home'"></app-button-secondary>
      <app-button-secondary [btn_name]="'About us'"></app-button-secondary>
      <app-button-secondary [btn_name]="'Contact us'"></app-button-secondary>
      <app-button-secondary [btn_name]="'Categories'"></app-button-secondary>
    </div>
  </header>
  <div class="relative w-full mt-5">
    <app-home></app-home>
  </div>
</div>
