<div class="w-full relative">
  <section class="w-full relative bg-white rounded-lg p-6 grow overflow-y-auto flex flex-col mt-[50px]" style="height: calc(100vh - 148px) ;">
    <div class="flex justify-between items-center pb-5 mb-5">
      <div class=" md:col-span-6 sm:col-span-12">
        <h3 class="font-bold text-[24px] text-gray-700">Analytics</h3>
      </div>
      <div class="md:col-span-6 sm:col-span-12">
        <div class="flex justify-end items-center gap-2">
        </div>
      </div>
    </div>

      <div class="grow bg-gray-50 overflow-y-auto scrollbar_ relative flex flex-col" >
      </div>
  </section>
</div>


