<div class="w-full relative">
  <section class="w-full relative bg-white rounded-lg p-6 grow overflow-y-auto flex flex-col mt-[50px]" style="height: calc(100vh - 148px) ;">
    <div class="flex justify-between items-center pb-5 mb-5">
        <div class=" md:col-span-6 sm:col-span-12">
            <h3 class="font-bold text-[24px] text-gray-700">Productions</h3>
          </div>
          <div class="md:col-span-6 sm:col-span-12">
            <div class="flex justify-end items-center gap-1">
              <div class="inline-block relative">
                <input type="text" placeholder="Recherche ..." class="border rounded-medium w-[280px] px-3 py-2 outline-none">
                <svg class="w-5 absolute right-4 top-[50%] -translate-y-[50%] text-gray-400 pointer-events-none" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path></svg>
              </div>
              <button (click)="addMatierepre()"
              class="h-[40px] flex justify-center items-center gap-2 px-4 rounded-medium text-[14px] font-nunito-regular bg-indigo-500 text-white outline-none">
              <svg fill="none" class="w-5" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"></path>
              </svg>
              Ajouter
            </button>
              </div>
          </div>
        </div>

    <div class="grow overflow-y-auto scrollbar_ relative flex flex-col" *ngIf="!loading">
          <ng-container *ngIf="productions.length > 0; else noResult">
              <table class="w-full table-auto rounded-t-md ">
                <thead>
                    <tr class="rounded-md  uppercase text-sm leading-normal" >
                        <th class="p-3 text-left text-gray-400 lowercase font-nunito-regular first-letter:uppercase">Titre</th>
                        <th class="p-3 text-left text-gray-400 lowercase font-nunito-regular first-letter:uppercase">Matiere premiere</th>
                        <th class="p-3 text-left text-gray-400 lowercase font-nunito-regular first-letter:uppercase">Quantite</th>
                        <th class="p-3 text-left text-gray-400 lowercase font-nunito-regular first-letter:uppercase">Fournisseur</th>
                        <th class="p-3 text-left text-gray-400 lowercase font-nunito-regular first-letter:uppercase">Paiements</th>
                    </tr>
                </thead>
                <tbody class="text-gray-600 text-sm font-light">
                    <tr *ngFor="let item of productions;let i = index" class="odd:bg-indigo-50/30">
                        <td class="p-3 ">
                          <div class="flex items-center gap-2">
                            <ng-template #noImg>
                              <span class="w-[60px] aspect-video rounded-md bg-gray-100 relative flex justify-center items-center">
                                <img src="assets/images/svg/upload.svg" class="h-full w-full object-cover rounded-md" alt="">
                              </span>
                            </ng-template>
                            <p class="text-[14px] font-nunito-medium text-left text-gray-900">{{ item?.title }}</p>
                          </div>
                       </td>
                        <td class="p-3 ">
                            <ul class="list-disc list-inside">
                              <li *ngFor="let matpre of item?.matiere_premieres" class="text-[14px] font-nunito-medium text-left text-gray-500">
                                {{ matpre?.title }} <span class="text-[10px] font-nunito-light text-gray-400">({{ matpre?.qu_used + ' ' + matpre?.unit?.shortName}})</span>
                              </li>
                            </ul>
                        </td>
                        <td class="p-3 ">
                           <div (click)="handleQuantiteTaille(item?.id)" class="text-[16px] w-[160px] rounded-lg p-2 cursor-pointer flex justify-between items-center {{ getStyle(item?.quantite_taille) }}">
                            <span>{{ calcQuantity(item?.quantite_taille) }}</span>
                            <a href="admin/production-module/productions/{{ item?.id }}/quantite-taille" class="relative inline-block p-1 rounded-md bg-orange-100/50 text-orange-500">
                              <svg *ngIf="item?.quantiteTaillesCount == 0" class="w-4" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path></svg>
                              <svg *ngIf="item?.quantiteTaillesCount > 0" class="w-4" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"></path><path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
                            </a>
                          </div>
                        </td>
                        <td class="p-3 ">
                           <p class="text-[14px] font-nunito-medium text-left text-gray-900">{{ item?.fournisseur?.title}}</p>
                        </td>
                        <td class="p-3 ">
                           <p class="text-[14px] font-nunito-medium text-left text-gray-900">
                                <span></span>
                                <a href="admin/production-module/productions/{{ item?.id }}/paiement" class="relative inline-block p-1 rounded-md bg-orange-100/50 text-orange-500">
                                  <svg *ngIf="item?.payment == null" class="w-4" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path></svg>
                                  <svg *ngIf="item?.payment !== null" class="w-4" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"></path><path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
                                </a>
                           </p>
                        </td>

                        <td class="p-3 text-left flex justify-end">
                          <div (click)="toggeDropDown(item.id)" class=" relative z-20 aspect-square h-[30px] rounded-full cursor-pointer p-1 mr-2 {{ activeDropDown == item.id ? 'bg-red-50 text-red-500':'text-green_color hover:bg-green-50' }}">
                            <svg *ngIf="activeDropDown !== item.id" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path></svg>
                            <svg *ngIf="activeDropDown == item.id" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
                            <ul *ngIf="activeDropDown == item.id" class="absolute right-full top-0 divide-y bg-white rounded-medium border z-50">
                                <li>
                                  <button (click)="displayDetails(item.id)" class="flex items-center gap-2 py-3 px-5 text-gray-700">
                                    <svg class="w-5" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"></path><path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
                                    details
                                  </button>
                                </li>
                                <li>
                                  <button (click)="editProduction(item, i)" class="flex items-center gap-2 py-3 px-5 text-gray-700">
                                    <svg class="w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
                                    Modifier
                                  </button>
                                </li>
                                <li>
                                  <button (click)="deleteProduct(item.id)" class="flex items-center gap-2 py-3 px-5" >
                                    <svg class="w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
                                    Supprimer
                                  </button>
                                </li>
                            </ul>
                          </div>
                        </td>
                    </tr>
                </tbody>
            </table>
          </ng-container>
        </div>
        <!-- <section *ngIf="activeQuTailleArea">
          <app-product-quantitetaille (closeForm)="closeQuTaille()" [quantiteTailleId]="quantiteTailleId"></app-product-quantitetaille>
        </section> -->
        <!-- no result -->
        <ng-template #noResult>
          <div class="w-full flex justify-center items-center grow pr-1 ">
            <div class="p-6 flex flex-col items-center">
              <img src="assets/images/Noitemfound.svg" class="scale-70" alt="">
              <h3 class="text-[14px] font-nunito-medium text-gray-500 mt-2">Aucun Production</h3>
            </div>
           </div>
       </ng-template>
         <!-- loading  -->
       <ng-container *ngIf="loading">
        <div class="w-full  flex justify-center items-center grow  pr-1 " >
          <!-- <app-content-loading></app-content-loading> -->
        </div>
       </ng-container>
  </section>
</div>
<div *ngIf="showForm" class="w-full h-screen fixed bg-black/40  left-0 top-0 flex justify-end items-start z-[99999]">
  <app-production-form [production]="editProduct_" [eventype]="eventType" (updatedProduction)="updatedProduct($event)" (addedProduction)="addedProduct($event)" (closeForm)="closeForm()" class="w-[80%] max-w-[800px]"></app-production-form>
</div>




